{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Admin | Dashboard</title>
    <meta name="description" content="Updates and statistics" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" defer></script>


    <link rel="stylesheet" href="{% static 'theme_admin/css/azim.css' %}" />
    <link
      href="{% static 'theme_admin/css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{% static 'theme_admin/api/pace/pace-theme-flat-top.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'theme_admin/api/mcustomscrollbar/jquery.mCustomScrollbar.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'theme_admin/api/datatable/jquery.dataTables.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="shortcut icon" href="{% static 'theme_admin/media/logos/favicon.ico' %}" />
  </head>
  <body>

    <script src="{% static 'theme_admin/js/plugin.bundle.min.js' %}"></script>
    <script src="{% static 'theme_admin/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'theme_admin/api/jqueryvalidate/jquery.validate.min.js' %}"></script>
    <script src="{% static 'theme_admin/api/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'theme_admin/api/apexcharts/scriptcharts.js' %}"></script>
    <script src="{% static 'theme_admin/api/pace/pace.js' %}"></script>
    <script src="{% static 'theme_admin/api/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'theme_admin/api/quill/quill.min.js' %}"></script>
    <script src="{% static 'theme_admin/api/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'theme_admin/js/script.bundle.js' %}"></script>
  </body>
</html>
