{% load static %}
<!-- {% include "Test/base.html" %} -->

<link rel="stylesheet" href="{% static 'theme_admin/css/sidebar.css' %}" />


<script src="{% static 'theme_admin/js/bootstrap.bundle.min.js' %}" defer></script>

<div>
    <div
      class="aside aside-left aside-fixed d-flex flex-column flex-row-auto"
      id="tc_aside"
    >
      <!--begin::Brand-->
      <div class="brand flex-column-auto" id="tc_brand">
        <!--begin::Logo-->

        <a href="{% url 'pharma-admin' shopId.id %}" class="brand-logo">
          <img
            class="brand-image"
            style="height: 25px"
            alt="Logo"
            src="assets/images/misc/k.png"
          />
          <span class="brand-text azim____class"
            ><img
              style="height: 25px"
              alt="Logo"
              src="{% static 'theme_admin/images/misc/ll.jpg' %}"
          /></span>
        </a>
        <!--end::Logo-->
      </div>
      <!--end::Brand-->
      <!--begin::Aside Menu-->
      <div
        class="aside-menu-wrapper flex-column-fluid overflow-auto h-100 sidebar______padding"
        id="tc_aside_menu_wrapper"
      >
        <!--begin::Menu Container-->
        <div
          id="tc_aside_menu"
          class="aside-menu mb-5"
          data-menu-vertical="1"
          data-menu-scroll="1"
          data-menu-dropdown-timeout="500"
        >
          <!--begin::Menu Nav-->
          <div id="accordion">
            <ul class="nav flex-column">
              <li class="nav-item active">
                <a href="{% url 'pharma-admin' shopId.id %}" class="nav-link">
                  <span class="svg-icon nav-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20px"
                      height="20px"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-home"
                    >
                      <path
                        d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
                      ></path>
                      <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                  </span>
                  <span class="nav-text"> Dashboard </span>
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="javascript:void(0)"
                  data-target="#catalog"
                  role="button"
                  aria-expanded="false"
                  aria-controls="catalog"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-boxes font-size-h4"></i>
                  </span>
                  <span class="nav-text">Catalog</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="catalog"
                  data-parent="#accordion"
                >
                  <div id="accordion1">
                    <ul class="nav flex-column">
                
                      <li class="nav-item">
                        <a
                          href="{% url 'BrandView' shopId.id %}"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Product Brands</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="{% url 'MedicineCategory' shopId.id %}"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Product Categories</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link sub-nav-link"
                          data-toggle="collapse"
                          href="#catalogProduct"
                          role="button"
                          aria-expanded="false"
                          aria-controls="catalogProduct"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Products</span>
                          <i
                            class="fas fa-chevron-right fa-rotate-90"
                          ></i>
                        </a>
                        <div
                          class="collapse nav-collapse"
                          id="catalogProduct"
                          data-parent="#accordion1"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                href="{% url 'MedicineView' shopId.id %}"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">List</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="{% url 'MedicineCreateView' shopId.id %}"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">Add Medicine</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="javascript:void(0)"
                  data-target="#vendor"
                  role="button"
                  aria-expanded="false"
                  aria-controls="vendor"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-boxes font-size-h4"></i>
                  </span>
                  <span class="nav-text">Vendor</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="vendor"
                  data-parent="#accordion"
                >
                  <div id="accordion1">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          href="{% url 'VendorView' shopId.id %}"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Vendor</span>
                        </a>
                      </li>
                     
                    
                    </ul>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#catalogPurchase"
                  role="button"
                  aria-expanded="false"
                  aria-controls="catalogPurchase"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-money-check-alt font-size-h4"></i>
                  </span>
                  <span class="nav-text">Purchase</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="catalogPurchase"
                  data-parent="#accordion"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        href="purchase-list.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">List</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="purchase-add.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Add Purchase</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#order"
                  role="button"
                  aria-expanded="false"
                  aria-controls="order"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-clipboard-check font-size-h4"></i>
                  </span>
                  <span class="nav-text">Sell / Orders</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="order"
                  data-parent="#accordion"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        href="{% url 'OrderView' shopId.id %}"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">List</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#Returns"
                  role="button"
                  aria-expanded="false"
                  aria-controls="Returns"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-undo-alt font-size-h4"></i>
                  </span>
                  <span class="nav-text">Returns</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="Returns"
                  data-parent="#accordion"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        href="sale-return.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Sale Returns</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="Return-add.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Add Returns</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="purchase-return.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Purchase Returns</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="purchase-return-add.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Add Return Purchase</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li> -->
              {% comment %} <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#People"
                  role="button"
                  aria-expanded="false"
                  aria-controls="People"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-user-friends font-size-h4"></i>
                  </span>
                  <span class="nav-text">Employee</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="People"
                  data-parent="#accordion"
                >
                  <div id="accordion2">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          class="nav-link sub-nav-link"
                          data-toggle="collapse"
                          href="#admins"
                          role="button"
                          aria-expanded="false"
                          aria-controls="catalogProduct"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              ></path>
                            </svg>
                          </span>
                          <span class="nav-text">Admins</span>
                          <i
                            class="fas fa-chevron-right fa-rotate-90"
                          ></i>
                        </a>
                        <div
                          class="collapse nav-collapse"
                          id="admins"
                          data-parent="#accordion1"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                href="admin-list.html"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">List</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="roles-permission.html"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Roles/Permisssions</span
                                >
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>

                      <li class="nav-item">
                        <a
                          href="billers-list.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Staff</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li> {% endcomment %}
              <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#account"
                  role="button"
                  aria-expanded="false"
                  aria-controls="account"
                >
                  <span class="svg-icon nav-icon">
                    <i
                      class="fas fa-file-invoice-dollar font-size-h4"
                    ></i>
                  </span>
                  <span class="nav-text">Accounts</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="account"
                  data-parent="#accordion"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a
                        href="accounts-list.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">List</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="accounts-balance-sheet.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Balance Sheet</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="accounts-trial-balance.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Trial Balance</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="accounts-cashFlow.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text">Cash Flow</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a
                        href="accounts-payment-report.html"
                        class="nav-link sub-nav-link"
                      >
                        <span
                          class="svg-icon nav-icon d-flex justify-content-center"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10px"
                            height="10px"
                            fill="currentColor"
                            class="bi bi-circle"
                            viewBox="0 0 16 16"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                            />
                          </svg>
                        </span>
                        <span class="nav-text"
                          >Payment Account Report</span
                        >
                      </a>
                    </li>
                  </ul>
                </div>
              </li>

              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  data-toggle="collapse"
                  href="#setting"
                  role="button"
                  aria-expanded="false"
                  aria-controls="setting"
                >
                  <span class="svg-icon nav-icon">
                    <i class="fas fa-cogs font-size-h4"></i>
                  </span>
                  <span class="nav-text">Settings</span>
                  <i class="fas fa-chevron-right fa-rotate-90"></i>
                </a>
                <div
                  class="collapse nav-collapse"
                  id="setting"
                  data-parent="#accordion"
                >
                  <div id="accordion3">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a
                          class="nav-link sub-nav-link"
                          data-toggle="collapse"
                          href="#settingB"
                          role="button"
                          aria-expanded="false"
                          aria-controls="settingB"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Bussiness Setting</span>
                          <i
                            class="fas fa-chevron-right fa-rotate-90"
                          ></i>
                        </a>
                        <div
                          class="collapse nav-collapse"
                          id="settingB"
                          data-parent="#accordion3"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#general"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">General</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#pos"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">POS</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#email"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Email SMTP Settings</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#sms"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">SMS Setting</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#emailtemp"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Email Templates</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#notification"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Notifications Setting</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#invoice"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Inovice Setting</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="bussiness-setting.html#barcodes"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Bar Code Setting</span
                                >
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link sub-nav-link"
                          data-toggle="collapse"
                          href="#settingW"
                          role="button"
                          aria-expanded="false"
                          aria-controls="settingW"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Website Settings</span>
                          <i
                            class="fas fa-chevron-right fa-rotate-90"
                          ></i>
                        </a>
                        <div
                          class="collapse nav-collapse"
                          id="settingW"
                          data-parent="#accordion3"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                href="website-setting.html#general"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">General</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="website-setting.html#themeColor"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Theming / Colors</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="website-setting.html#SEO"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">SEO</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="website-setting.html#log-sign"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Login / SignUp</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="website-setting.html#slider"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">Slider</span>
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="Menu-bulider.html"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">Menu Builder</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link sub-nav-link"
                          data-toggle="collapse"
                          href="#settingA"
                          role="button"
                          aria-expanded="false"
                          aria-controls="settingA"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">App Settings</span>
                          <i
                            class="fas fa-chevron-right fa-rotate-90"
                          ></i>
                        </a>
                        <div
                          class="collapse nav-collapse"
                          id="settingA"
                          data-parent="#accordion3"
                        >
                          <ul class="nav flex-column">
                            <li class="nav-item">
                              <a
                                href="app-setting.html#general"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">General</span>
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="app-setting.html#display"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Display In Menu/Sidebar</span
                                >
                              </a>
                            </li>

                            <li class="nav-item">
                              <a
                                href="app-setting.html#notificationS"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text"
                                  >Local Notification</span
                                >
                              </a>
                            </li>
                            <li class="nav-item">
                              <a
                                href="app-setting.html#log-sign"
                                class="nav-link mini-sub-nav-link"
                              >
                                <span class="nav-text">Login/Signup</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a
                          href="warehouse.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Warehouse</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="language.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Language</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="currency.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Currency</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="payment.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Payement Methods</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="shippingmethods.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Shipping Methods</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="Tax.html" class="nav-link sub-nav-link">
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Tax Settings</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="coupons.html"
                          class="nav-link sub-nav-link"
                        >
                          <span
                            class="svg-icon nav-icon d-flex justify-content-center"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="10px"
                              height="10px"
                              fill="currentColor"
                              class="bi bi-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                            </svg>
                          </span>
                          <span class="nav-text">Coupon Settings</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>

          <!--end::Menu Nav-->
        </div>
        <!--end::Menu Container-->
      </div>
      <!--end::Aside Menu-->
    </div>
  </div>

